@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutGuest.cshtml";
}

<div class="container">
        <div class="card-deck">
            <div class="card col-md-4 text-center ">
                <div class="card-block">
                    <h4 class="card-title"><strong>ABOUT US</strong></h4>
                    <img src="~/Public/Images/phongvu.jpg" style="width:300px; height:150px" class="text-center card-img-top img-fluid" alt="...">
                    <p class="card-text">
                        -	Cửa hàng đồ công nghệ Phong Vũ cần xây dựng Website để cho khách hàng dễ dàng tìm được và mua những sản phẩm công nghệ cần thiết. Công ty muốn những sản phẩm được xếp theo loại hàng, có thể sắp xếp theo giá cả để cho mọi khách hàng đều có khả năng mua.
                        -   Nên vì vậy công ty có nhu cầu thiết kế một website hiện đại với một UI thân thiện với khách hàng, tạo ra một User Experience tốt
                    </p>

                   
                </div>
            </div>
        </div>
</div>